* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.img {
  flex: 1;
  height: 40px;
  width: 0px;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  text-decoration: underline 20px;
}
nav {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 2;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
ul,
li {
  display: flex;
  width: 100%;
}
.custom-shape-divider-bottom-1612773404 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612773404 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 212px;
}

.custom-shape-divider-bottom-1612773404 .shape-fill {
  fill: #c7c7c73a;
}

.intro {
  width: 80%;
  height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.shape {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  max-width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgb(216, 103, 84, 0.8),
    rgb(253, 217, 122, 0.8)
  );
}

.intro-p {
  font-size: 35px;
  flex: 1;
}

#img {
  filter: drop-shadow(1px 2px 10px);
  position: relative;
  bottom: 50%;
  height: 140%;
}

button {
  font-size: 30px;
  margin: 30px;
  padding: 10px;
  border: none;
  background-color: rgb(253, 217, 122, 1);
}

button:hover {
  cursor: pointer;
}
img {
  height: 25px;
}
