* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body {
  background-color: rgba(29, 29, 29);
}
.toggle-button {
  position: absolute;
  top:5%;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px; 
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
h2 {
    color:rgb(253,16,86);
    font-size: 50px;
    text-shadow: 1px 1px rgba(253, 244, 0);
    position: absolute;
}


h3 {
    color:rgb(248, 182, 0);
}

header {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  background-color: rgb(226, 219, 21);
  border-radius: 5px;
  padding: 0px 0px 5px 70px;
}

.nav-links,
.logo {
  display: flex;
}
.logo {
  width: 50px;
  flex: 1;
  margin: 0px 0px 0px;
  height: 50px;
}
.navbars {
  display: flex;
  border: 2px olid;
  margin: 0px 0px;
  color: #1dd3eb;
  padding: 5px;
  opacity: 0.8;
  border-radius: 5px;
  transition: 0.5s;
}
.navbars:hover {
  background-color: red);
  box-shadow: rgba(29,29,29)
  8px 8px 25px ;
}
nav {
  flex: 1;
  min-height: 10vh;
}

.nav-links {
  margin: 28px 0px 0px 0px;
  justify-content: space-around;
}
.nav-links, a {
 
}
.nav-link {
  padding: 2px 5px 0px 25px;
  margin: 50px 50px 0px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: rgba(24, 24, 24);
}
ul {
  list-style: none;
}

.icons {
  position: relative;
  top: 4px;
  left: 20px;
  height: 35px;
  padding: 0px 10px 0px 0px;
}
.picture{
    background-color:rgb(7,7,7,0.7);
    height:250px;
    position: relative;
    left:50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    transition: 1s;
    animation: drop 1s ease;
}
.picture:hover {
    transform: scale(1.1);
}
.presentation {
    display: flex;
    max-width: 70%;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    min-height: 90vh;
    
}

.introduction {
    position: relative;
    
}


.glasses:hover {
    transform: scale(1.1);
}
.glasses {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color:  rgba(65, 65, 65, 0.616);
    max-height:50vh;
    width: 100%;
    box-shadow: 5px 5px 10px;
    transition: 1s;
    animation: drop 1s ease;
    margin-right: 50px;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.glass1{
    justify-content: space-evenly;
    position: relative;
    padding:20px;
    margin: 150px 5px 5px 5px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(14,14,14);
    height:233px;
    width: 190px;
    transition: 1s;
    color:rgb(255, 255, 255);
    box-shadow: 1px 1px 5px darkgrey;
    animation: drop 1.5s ease;
}



.glass1:hover {  
    color:rgba(51,51,51);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.logos {
  height: 23px;
}
.shapes {
  height: 0vh;
  background-color: red;
}



#rectangle {
  position: relative;
  right: 250px;
  bottom: 250px;
  width: 1600px;
  height: 100px;
  background: rgba(253, 244,0,0.7);
  z-index: -10;
  transform: rotate(20deg);
}
#rectangle1 {
  position: relative;
  right: 250px;
  bottom: 330px;
  width: 1400px;
  height: 100px;
  background: rgb(253,16,86);
  transform: rotate(20deg);
  z-index: -8;
}
.foter-header{
  position: relative;
  left: 150px;
  color:rgba(24, 24, 24);
  font-size: 15px;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 5px 5px 20px 5px;
  flex: 1;
}
  
.foter{
  display: flex;
  background-color:rgb(226, 219, 21);
  height:150px;
  width: 70%;
  position: relative;
  margin: auto;
  border-radius: 5px;
  
}
#footers {
  padding: 12px 0px 5px 5px;
  margin: 0px 0px 10px 5px;
  color:rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 25px;
}
.links {
  max-width: 70%;
  position: relative;
  left: 150px;
  margin: 10px 250px;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content:center;
  font-size: 20px;
  flex: 1;
}
.links1:hover{
  color: white;
}
.links1 {
  color:rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
.back {
  
}
.contacts {
  color:rgb(0,0,0);
}
.contacts:hover {
  color: white;
}

@media screen and (max-width: 1624px) {

  *{
    margin: 0px;
    padding: 0;
    
  }

  
  .picture{
    left:0;
    margin-top: 50px;
    margin-right: 0px;

  }

  .pictures {
    width: 100%;
  }
  header {
    width: 100%; 
  }

  .introduction {
    margin: auto;
    width: 80%;
    align-items: center;
    text-emphasis: center;
    justify-content: center;
    
  }

  .glasses {  
    padding:15px 30px;
    margin: auto;
    width: 50%;

  }
  .presentation {
    align-items: center;
    text-emphasis: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    display: block;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    

  }

  main {
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
}
  header {
    width: 100%;
    overflow: hidden;
  } 
  .foter {
      display: flex;
      background-color: rgb(226, 219, 21);
      width: 100%;
      position: relative;
      margin: auto;
      border-radius: 5px;
      height: 20vh;
      text-align: center;
      align-items: center;
    }
  
    .toggle-button {
      position: absolute;
      top:5%;
      right: 30px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;

    }

    .toggle-button .bar {
      height: 3px; 
      width: 100%;
      background-color: white;
      border-radius: 5px;
    }
    .glasses {
      display: flex;
      justify-content: space-around;
      height: 90vh;
      width: 80vh;
      
    }

    @media screen and (max-width: 1160px) {
      

      .introduction {
        position: relative;
        top: 15%;
        height: 10vh;
        width: 100%;
      }
      .presentation {
        width: 100%;
      }
      .logo {
        position: absolute;
        top:25px;
        left: 75px;
      }


      .pictures{
        display: none;
      }
      .toggle-button {
        display: flex;
      }
      .icons {
        display: none;
      }
      .bava{
        display: none;
      }
  
      .nav-link:hover {
        color: white;
      }
  
      .navbars:hover {
        box-shadow: 0px 0px;   
      }
      .navbars {
        border: none;
        padding: 1px 1px;
        margin-bottom: 20px;
      }
      .navbars li {
        text-align: center;
        align-items: center;
        margin: auto;
        
      }
      
      .nav-links {
        flex-direction: column;
        width: 100%;
  
      }
  
      .bava.active {
        display: flex;
      }
      .bava {
        margin-top: 50px;
       

      }
      .foter {

        height: 35vh;
        flex-direction: column;
        overflow: hidden;
      }
      .foter-header {
        left: 0;
        width: 100%;
        margin: auto;
      }
      .links {
        left: 0;
      }

      .glasses {
      background: none;
      border: none;
      box-shadow: none;  
      width: 100%;
      }
      .glasses:hover {
        transform:none;
    }

    .glass1 {
      display: block;
    }
    }

    @media screen and (max-width: 875px) {


      header {
        margin-bottom: 150px;
      }

      h2 {
        padding-top: 0px;
        width: 400px;
        position: absolute;
        margin-top: -150px;
        margin-left: -80px;
      }
      .presentation {
        height: 100vh;

        right: 30%;
        bottom: -80px;
        position: absolute;
        width: 40%;
        margin-bottom:50px ;
        
        
      }
      .glasses{
        padding-top: 150px;
        display: block;
        margin: auto ;
      }
      .glass1 {
        justify-content: space-evenly;
        position: relative;
        padding:20px;
        margin: 35px 15px ;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgb(14,14,14);
        height:233px;
        width: 190px;
      }
    }

