* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 50px;
  flex: 1;
  margin: 15px 0px 0px 50px;
  color: #34fff5e3;
  height: 50px;
}
.nav-links,
.logo {
  display: flex;
}

body {
  background: url("pexels-simon-migaj-747964.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: -0%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: inline-block;
  background: lightblue;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
