* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ad2831;
}

.sec1 {
  margin-top: -80px;
}
.intro {
  color: white;
  position: relative;
  text-align: center;
  top: 150px;
  background-color: rgb(29, 29, 29);
  letter-spacing: 10px;
  font-weight: 900;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  background-color: #ec343d;
  border-radius: 5px;
  padding: 0px 0px 5px 70px;
}

.nav-links,
.logo {
  display: flex;
}
.logo {
  width: 50px;
  flex: 1;
  margin: 0px 0px 0px;
  height: 50px;
}
.navbars {
  display: flex;
  border: 2px olid;
  margin: 0px 0px;
  color: #1dd3eb;
  padding: 5px;
  opacity: 0.8;
  border-radius: 5px;
  transition: 0.5s;
}
.navbars:hover {
  background-color: rgb(255, 255, 255, 1);
}
nav {
  flex: 1;
  min-height: 10vh;
}

.nav-links {
  margin: 28px 0px 0px 0px;
  justify-content: space-around;
}
.nav-link {
  padding: 2px 5px 0px 25px;
  margin: 50px 50px 0px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: rgba(24, 24, 24);
}
ul {
  list-style: none;
}

.icons {
  position: relative;
  top: 4px;
  left: 20px;
  height: 35px;
  padding: 0px 10px 0px 0px;
}
.header {
  margin: 40px 0px;
  color: white;
  font-size: 45px;
}

.introduction {
  margin: auto;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.hallo {
  display: flex;
  justify-content: space-around;
}

.slidershow {
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
}

.middle {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.picture {
  position: absolute;
  top: 250px;
  left: 1110px;
  margin: 60px 0px 0px 0px;
  filter: drop-shadow(-2px 2px 10px);
}
.images {
  height: 50vh;
  transition: 1s;
}

.images:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.glass-head {
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  letter-spacing: 10px;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

.section2 {
  height: 100vh;
}

@media screen and (max-width: 1764px) {
  .header {
    width: 100%;
  }
  .images {
    display: none;
    flex: 0;
  }
  .slidershow,
  .middle {
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .middle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sec1 {
    width: 100%;
  }
}
