* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.cover {
  box-shadow: 
  justify-content: center;
  flex: 1;
  background-image: 
    url('img/IMG_5583-1.png');
  background-color:rgba(108, 200, 243, 0.253);
  background-position: center;
  background-size: cover;
  height: 280px;
  max-width: 280px;
  border-radius: 50%;
  
  transition: 0.5s;
}

.cover:hover {
  box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  
  
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  background-color: rgba(108, 200, 243, 0.253);
  border-radius: 5px;
  padding: 0px 0px 5px 70px;
}

.nav-links,
.logo {
  display: flex;
}
.logo {
  max-width: 50px;
  flex: 1;
  margin: 0px 0px 0px;
  color: #34fff5e3;
  height: 50px;
}
.navbars {
  display: flex;
  border: 2px solid;
  margin: 0px 0px;
  color: #feeca8;
  padding: 5px;
  opacity: 0.8;
  border-radius: 5px;
  transition: 0.5s;
}
.navbars:hover {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: #ffca7b;
  box-shadow: 8px 8px 25px rgba(255, 202, 123, 0.5);
}
nav {
  flex: 1;
  min-height: 10vh;
}

.nav-links {
  margin: 28px 0px 0px 0px;
  justify-content: space-around;
}
.nav-link {
  padding: 2px 5px 0px 25px;
  margin: 50px 50px 0px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #feeca8;
}
ul {
  list-style: none;
}

.background {
  background-image: url(./img/pexels-stein-egil-liland-3472764.jpg);
  background-position: center;
  background-size: cover;
}
.presentation {
  display: flex;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
 
}

.intro-text {
  position: relative;
  color: white;
  font-size: 30px;
  animation: drop 1s ease;
}
.intro-p {
  font-size: 20px;
  margin: -58px 0px 35px 0px;
}
.first {
  margin-bottom: 65px;
}

.introduction {
  flex: 2;
}





#view {
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: #feeca8;
  font-weight: bold;
  border: 2px solid;
  border-radius: 4px;
  transition: 0.5s;
}

#view:hover {
  color: #ffca7b;
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.2);
}

.icons {
  position: relative;
  top: 4px;
  left: 20px;
  height: 35px;
  color: red;
  padding: 0px 10px 0px 0px;
}
.foter-header{
  position: relative;
  left: 150px;
  color:rgb(112, 112, 112);
  font-size: 15px;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 5px 5px 20px 5px;
  flex: 1;
}
  
.foter{
  display: flex;
  background-color: rgba(108, 200, 243, 0.253);
  height:19vh;
  width: 100%;
  position: relative;
  margin: auto;
  border-radius: 5px;
  
}
#footers {
  padding:15px 0px 5px 5px;
  margin: 0px 0px 0px 5px;
  color:rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 25px;
}
.links {
  max-width: 70%;
  position: relative;
  left: 150px;
  margin: 10px 250px;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content:center;
  font-size: 20px;
  flex: 1;
  color:white;
  font-weight: 200;
}

.contacts {
  color:#feeca8;
}

.contacts:hover {
  color: #ffca7b;
}

.links1 {
  color:rgb(0, 0, 0);
}
a {
  text-decoration: none;
}

.fotp {
  color:#feeca8;
  font-size: 15px;
}





  /*** media queries ***/






@media screen and (max-width: 1530px) {


  header {
    width: 100%;
  }
  .cover {
    height: 200px;
    max-width: 200px;
  }
  .intro-text {
    position: relative;
    font-size: 20px;
  }
  .introduction {
    flex:1;
    margin:50px;
  }
  .presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height:100vh;
 
  }

    .foter {
      display: flex;
      background-color: rgba(108, 200, 243, 0.253);
      width: 100%;
      position: relative;
      margin: auto;
      border-radius: 5px;
      height: 20vh;
      text-align: center;
      align-items: center;
    }
  
    .toggle-button {
      position: absolute;
      top:5%;
      right: 30px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;

    }

    .toggle-button .bar {
      height: 3px; 
      width: 100%;
      background-color: white;
      border-radius: 5px;
    }
    

  


@media screen and (max-width: 1180px) {
  .intro-text {
    font-size: 20px;
    width: 100%;
   
  }
  .presentation {
    display: flex;
    width: 95%;
    margin: auto; 

  }

  nav {
    padding: 0px 15px 5px 0px;
  }

}


@media screen and (max-width: 1088px) {

  .logo {
    position: relative;
    top: 15px;

  }
  header{
    display: block;
  }
  nav {
    margin: 0px 15px -25px 0px;
  }

  .foter {
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 32vh;
  }
  .foter-header {
    left: 0px;
    width:90%;
    margin:  px;
    padding: 0px
  }
  
    .links {
      left: 0px;
      padding: 0px;}
  
      .links a{
        font-size: 20px;
      }
  
  
  
}


@media screen and (max-width: 1000px) { 

  * {
    font-size: 25px;
  }

  .logo {
    
    top: 35px; }

    

    header {
      width: 100%;
      
      
    }
    .toggle-button {
      display: flex;
    }
    

    .icons {
      display: none;
    }
    .bava{
      display: none;
    }

    .nav-link:hover {
      color: white;
    }

    .navbars:hover {
      box-shadow: 0px 0px;   
    }
    .navbars {
      border: none;
      padding: 1px 1px;
      margin-bottom: 20px;
    }
    .navbars li {
      text-align: center;
      align-items: center;
      margin: auto;
      
    }
    
    .nav-links {
      flex-direction: column;
      width: 100%;

    }

    .bava.active {
      display: flex;
    

    
}
.cover {
  position: relative;
  left: 10%;
  top: 10%;
  
 
}

.intro-text {
  width: 100%;
  padding: 50px;
  float: right;
}
.intro-p  {
  width:100%;
  letter-spacing: 1px;
}

#view {
  
  width: 100%;
  justify-content: center;
}

.introduction{
  margin:auto;
  position: relative;
  top: 30%;

  
  
}

.presentation {
  overflow: hidden;
  width:100%;
  height: 10vh;
  display:inline-block;
  
}

.foter {
  height: 35vh;
}


  
}
@media screen and (max-width: 700px) {
  
  * {
    font-size: 22px;
  }
  .foter {
    height: 45vh;
    font-size: 15px;
  }

  .links a {
    font-size: 15px;
  }

}



 